{% extends "base.html" %}

{% block content %}
    <h1>Task manager Home page</h1>
    <p>Welcome to Best Application for Tasks Ever!</p>
    <h2>Dynamic content</h2>
    <p>Company overview:</p>

    <div class="row">
        <div class="col">
            <h5>Positions</h5>
            <ul>
                {% for position in position_list %}
                    <li>{{ position.name }}</li>
                {% empty %}
                    <li>No positions available.</li>
                {% endfor %}
            </ul>
        </div>

        <div class="col">
            <h5>Workers</h5>
            <ul>
                {% for worker in worker_list %}
                    <li>{{ worker.first_name }} {{ worker.last_name }}</li>
                {% empty %}
                    <li>No workers available.</li>
                {% endfor %}
            </ul>
        </div>

{#        <div class="col">#}
{#            <h5>task Types</h5>#}
{#            <ul>#}
{#                {% for tt in tasktypes %}#}
{#                    <li>{{ tt.name }}</li>#}
{#                {% empty %}#}
{#                    <li>No task types.</li>#}
{#                {% endfor %}#}
{#            </ul>#}
{#        </div>#}

        <div class="col">
            <h5>Tasks</h5>
            <ul>
                {% for t in task %}
                    <li>{{ t.name }}</li>
                {% empty %}
                    <li>No tasks.</li>
                {% endfor %}
            </ul>
        </div>

        <div class="col">
            <h5>Tags</h5>
            <ul>
                {% for tag in tags %}
                    <li>{{ tag.name }}</li>
                {% empty %}
                    <li>No tags.</li>
                {% endfor %}
            </ul>
        </div>

        <div class="col">
            <h5>Teams</h5>
            <ul>
                {% for tm in team %}
                    <li>{{ tm.name }}</li>
                {% empty %}
                    <li>No teams.</li>
                {% endfor %}
            </ul>
        </div>

        <div class="col">
            <h5>Projects</h5>
            <ul>
                {% for pr in projects %}
                    <li>{{ pr.name }}</li>
                {% empty %}
                    <li>No projects.</li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <p class="mt-4">You have visited this page {{ num_visits }} time{{ num_visits|pluralize }}.</p>
{% endblock %}
