{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <h1>
    Teams list
    <a href="{% url 'task:team-create' %}" class="btn btn-primary link-to-page">
      Create
    </a>
  </h1>
  <form method="get" action="">
      {{ search_form|crispy }}
      <input class="btn btn-secondary" type="submit" value="Submit">
  </form>
  <br>

  {% if team_list %}
    <ul>
  {% for team in team_list %}
    <li>
      <a href="{% url 'task:team-detail' team.id %}">
            ID: {{ team.id }}
          </a>
    <strong>{{ team.name }}</strong>
    </li>
  {% endfor %}
</ul>
  {% endif %}
{% endblock %}
