{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <h1>
    Worker List
    <a href="{% url 'task:worker-create' %}" class="btn btn-primary link-to-page">
      Create
    </a>
  </h1>
  <form method="get" action="">
      {{ search_form|crispy }}
      <input class="btn btn-secondary" type="submit" value="Submit">
  </form>

  {% if worker_list %}
    <ul>
      {% for worker in worker_list %}
        <li>
          <a href="{% url 'task:worker-detail' worker.id %}">
            ID: {{ worker.id }}
          </a> —
          <strong>{{ worker.username }}</strong> —
          {{ worker.first_name }} {{ worker.last_name }},
          Position: {{ worker.position }},
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No workers found.</p>
  {% endif %}
{% endblock %}
